.App {
  /* text-align: center; */
}

.main {
  display: grid;
  grid-template-columns: 800px auto;
  grid-template-rows: 100px 700px;
  row-gap: 80px;
}

.title {
  grid-column: 1 / 3;
  /* border: 1px solid black; */
  font-size: 60px;
  text-align: center;
  font-weight: bolder;
}

.input-container {
  /* border: 1px solid black; */
}

.form-container {
  background-color: #edeef0;
  margin: 0px 50px 50px 50px;
  height: 700px;
  padding: 60px;
  font-size: 25px;
  font-weight: bold;
}

.display-container {
  /* border: 1px solid black; */
  /* position: relative; */
}

.content-container {
  margin-top: 20px;
  /* margin-left: 50px; */
  margin-right: 50px;
  width: 1000px;
  /* height: 50px; */
  background-color: #edeef0;
  /* position: absolute;   */
  font-size: 25px;
  text-align: center;
}

.no-value-container {
  margin-top: 250px;
  margin-right: 50px;
  width: 1000px;
  height: 50px;
  background-color: #edeef0;
  font-size: 25px;
  text-align: center;
}
